*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #191970;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#logo{
    position: absolute;
    left: 5%;
    max-height: 20%;
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

#tech{
    max-height: 400px;
    max-width: 400px;
    margin: 6% 0 0 2%;
}

.container{
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form{
    width: 400px;
    height: 440px;
    background-color: #F5F5DC;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    color: #191970;
    font-family: 'Open Sans', sans-serif;
    margin-right: 2%;
}

#form2{
    height: 550px;
    display: none;
}

input{
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 40px 0 40px;
    height: 35px;
    width: 220px;
}

a{
    text-decoration: none;
    font-weight: 400;
}

a:hover{
    text-decoration: underline;
}

#create{
    width: 100%;
    text-align: center;
    font-size: 13px;
}

#forgot{
    width: 100%;
    text-align: center;
    font-size: 13px;
}

h2{
    font-size: 35px;
    font-weight: 700;
}

h3{
    margin-top: 2%;
    margin-bottom: 7%;
    font-size: 15px;
    font-weight: 400;
}

.design, .design2{
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    position: relative;
}

.username, .emailaddress{
    margin-bottom: 5%;
}

.password{
    margin-bottom: 7%;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}

button{
    width: 300px;
    height: 40px;
    background-color: rgba(25, 25, 112, 0.3);
    border-radius: 5px;
    border: none;
    color: #191970;
}

button:hover{
    background-color: rgba(25, 25, 112, 0.7);
    cursor: pointer;
}

.fa-envelope, .fa-lock{
    position: absolute;
    bottom: 15%;
    left: 5%;
}

.one{
    bottom: 12%;
}

.three{
    top: 30%;
}

.five{
    top: 85%;
}

#eye4{
    position: absolute;
    right: 5%;
    top: 30%;
    cursor: pointer;
}

#eye6{
    position: absolute;
    right: 5%;
    top: 85%;
    cursor: pointer;
}

#eye{
    position: absolute;
    right: 5%;
    bottom: 15%;
    cursor: pointer;
}

.error{
    font-size: 10px;
    color: red;
    font-style: italic;
}

.design2{
    height: 12%;
}

.name, .createpassword{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 10%;
    margin-bottom: 5%;
}

.createpassword{
    height: 25%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7%;
}

#form2 input{
    height: 30px;
}

.name input{
    height: 30px;
    width: 80px;
    padding: 0 20px 0 40px;
}

.firstname, .lastname{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newpassword, .confirmpassword{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.newpassword{
    margin-bottom: 4%;
}

.fa-user{
    position: absolute;
    bottom: 15%;
    left: 5%;
}

.two{
    left: 58%;
}

#form2 h3{
    margin-bottom: 5%;
}