@media only screen and (max-width: 900px) {
    #tech{
        display: none;
    }
    .container{
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 850px) {
    #logo{    
        max-height: 15%;
    }
}

@media only screen and (max-width: 450px){
    #logo, #tech{
        display: none;
    }
    section, .container{
        height: 100%;
        width: 100%;
    }
    .form, #form2{
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        justify-content: center;
        overflow: hidden;
    }
    .design{
        height: 80px;
    }
    .design2{
        height: 10%;
    }
    .name, .createpassword{
        width: 300px;
        height: 8%;
    }
    .createpassword{
        height: 20%;
    }
    .one{
        bottom: 10%;
    }
    .three, #eye4{
        top: 32%;
    }
}

@media only screen and (max-width: 360px){
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 13px;
    }
    .design, #create, #forgot{
        font-size: 11px;
    }
    input{
        width: 180px;
    }
    .btn, .name, .createpassword{
        width: 260px;
    }
    .name{
        flex-direction: column;
        height: 15%;
    }
    #firstname, #lastname{
        width: 180px;
        padding-right: 40px;
    }
    .firstname, .lastname{
        height: 100%;
    }
    .firstname{
        margin-bottom: 4%;
    }
    .fa-user{
        top: 27%;
    }
    .two{
        top: 81%;
        left: 5%;
    }
}

@media only screen and (max-width: 290px){
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 10px;
    }
    .design, #create, #forgot{
        font-size: 8px;
    }
    input{
        width: 130px;
    }
    .btn, .name, .createpassword{
        width: 210px;
    }
    .error{
        font-size: 7px;
    }
    #firstname, #lastname{
        width: 130px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 230px){
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 7px;
    }
    .design, #create, #forgot{
        font-size: 5px;
    }
    .fa-envelope, .fa-lock, #eye{
        bottom: 25%;
    }
    input{
        width: 80px;
    }
    .btn, .name, .createpassword{
        width: 160px;
    }
    .error{
        font-size: 5px;
    }
    .design{
        height: 60px;
    }
    #firstname, #lastname{
        width: 80px;
        padding-right: 40px;
    }
}